


.jumbotron.wrap{
  background: #e9ecef5c
}

li.list-group-item{
	animation: fadeInDown 1s;
	transition: .50s;
	animation-name: fadeInDown;
}

/*Form-style*/
#form_todo .form-control:focus{
  box-shadow: none;
  border: 1px solid #528bf3;
  overflow: hidden;
}
.input-group-text {
    background: darkseagreen;
    border: none;
    color: #ffffff;
    font-size: 20px;
}
button.input-group-addon.btn-custom {
    outline: none;
    border: none;
    background: darkseagreen;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*has-errors*/
.haserror{
  	animation: shake 1s;
	transition: .50s;
	animation-name: shake;
}


/*ANimations*/
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

/*======haserrror=====*/
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}